/*common css*/






/*model css*/
/*头部*/
.sczj_header{
    width:100%;
    background:skyblue;
    border-bottom:1px solid #ccc;
}
.sczj_header>.container{
    text-align:center;
    height:40px;

}
.sczj_header .sczj_font{
    font:700 16px/40px "simsun";
}




/*导航部分*/
.sczj_nav {
    border:0;
    border-bottom:1px solid #ccc;
    background:#fff;
    margin-bottom:0;
}
.sczj_nav .navbar-brand {
    height:80px;
    line-height:50px;
    padding:0px 15px;

}
.sczj_nav .navbar-nav > li > a {
    color: #777;
    height:80px;
    line-height:50px;
    font-size:18px;
}
.sczj_nav .navbar-nav > li > a:hover,
.sczj_nav .navbar-nav > li > a:focus {
    color: red;
    background-color: transparent;
    border-bottom:3px solid red;

}
.sczj_nav .navbar-nav > .active > a,
.sczj_nav .navbar-nav > .active > a:hover,
.sczj_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom:3px solid red;
}
.sczj_nav .navbar-toggle {
    border-color: #ddd;
    margin-top:23px;
}
.sczj_nav .navbar-toggle:hover,
.sczj_nav .navbar-toggle:focus {
    background-color: #ddd;

}
.sczj_nav .navbar-toggle .icon-bar {
    background-color: #888;
}


/*轮播图*/
.imgBox{
    display:block;
    width:100%;
    height:500px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
