/*头部*/
.sczj_header{
    width:100%;
    background:black;
    border-bottom:1px solid #ccc;
}
.sczj_header>.container{
    text-align:center;
    height:40px;

}
.sczj_header .sczj_font{
    color:white;
    font:700 16px/40px "simsun";
}




/*导航部分*/
.navbar{
    background:rgb(233,235,238);
}
.sczj_nav {
    border:0;
    border-bottom:1px solid #ccc;
    background:rgb(233,235,238);
    margin-bottom:0;
}
.sczj_nav .navbar-brand {
    height:80px;
    line-height:50px;
    padding:0px 15px;

}
.sczj_nav .navbar-nav > li > a {
    color: #777;
    height:80px;
    line-height:50px;
    font-size:18px;
}
.sczj_nav .navbar-nav > li > a:hover,
.sczj_nav .navbar-nav > li > a:focus {
    color: red;
    background-color: transparent;
    border-bottom:3px solid red;

}
.sczj_nav .navbar-nav > .active > a,
.sczj_nav .navbar-nav > .active > a:hover,
.sczj_nav .navbar-nav > .active > a:focus {
    color: #555;
    /*background-color: #fff;*/
    border-bottom:3px solid red;
}
.sczj_nav .navbar-toggle {
    border-color: #ddd;
    margin-top:23px;
}
.sczj_nav .navbar-toggle:hover,
.sczj_nav .navbar-toggle:focus {
    background-color: #ddd;

}
.sczj_nav .navbar-toggle .icon-bar {
    background-color: #888;
}

/*我的购物车订单历史订单区域样式*/
.row{
    margin-top:20px;
}
.col-xs-4 p{
    color:grey;
    font-weight:700;
}
.col-xs-4{
    padding:0;
    font-size:16px;
    color:skyblue;
    text-align:center;
    border-right:1px solid pink;
}
.col-xs-4 li{
    list-style:none;
}
.btn{
    margin-top:10px;
    vertical-align:bottom;
    width:60px;
    background:skyblue;
    color:white;
    border-radius:20px;
}
